*
{
    font-family: 'Raleway', sans-serif;
}

/* Montserrat */
@font-face
{
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('http://casperweb.herokuapp.com/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}

/* Source Serif Pro */
@font-face {
  font-family: 'Source Serif Pro';
  src:
    local('Source Serif Pro'),
    url('http://casperweb.herokuapp.com/fonts/SourceSerifPro/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Lora */
@font-face {
  font-family: 'Lora';
  src:
    local('Lora'),
    url('%PUBLIC_URL%/fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
}

body
{
  background: linear-gradient(145deg,#56b4d3,#348f50);
  /* font-family: 'Montserrat'; */
}

.App
{
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

header
{
  background: linear-gradient(90deg,#56b4d3,#348f50);
  border-bottom: 1px solid #fff;
}

.App-header
{
  background-color: #222;
  /* height: 80px; */
  padding: 20px;
  color: white;
  z-index: 100;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
